.first-section-detail {
    background-color: #90CBEB;
    height: 65vh;
}
.first-col-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.first-col-detail p {
    padding-left: 20vw;
    padding-right: 20vw;
}
.first-col-detail h1 {
    font-weight: bold;
}
.first-detail-image {
    pointer-events: none;
    width: 100%;  
}
.col-detail {
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .first-section-detail {
        height: 35vh;
    }
    .first-col-detail {
        padding-top: 5%;
       display: block;
    }
    .first-col-detail p {
        padding: 0px;
        padding-left: 1%;
        padding-right: 1%;
        display: block;
        font-size: 0.9em;
        color: #707070;
    }
}