/*Propriedades dos ícones de visibilidade de senha*/
.visibility {
    color: #707070;
    font-size: 1.2em;
    background-color: transparent;
    border-left: none;
}
.inputText {
    border-right: none;
}
#modal-body{
    height: 45vh;
}
#footer-cadastro {
    margin-top: 10px;
    height: max-content;
}

.icon-fechar{
    cursor: pointer;
}

.msg-cad-row{
    margin: 0;
    padding: 0;
    height: 3vh;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #modal-body{
        height: unset;
    }
}
@media screen and  (max-height: 760px) {
    #modal-body{
        height: unset;
    }
}