.modal-img-perfil {
    margin-left: 20%;
    background-image: url("/src/images/encomendas/Ilustrações/perfil.jpg");
}
.modal-img-paisagem {
    background-image: url("/src/images/encomendas/Ilustrações/paisagem.jpg");
}
.modal-img-half {
    margin-right: 20%;
    background-image: url("/src/images/encomendas/Ilustrações/meio\ corpo.jpg");
}
.modal-img-pet {
    background-image: url("/src/images/encomendas/Ilustrações/pet.png");
}
.modal-img-outros {
    margin-right: 20%;
    background-image: url("/src/images/encomendas/Ilustrações/outros.jpg");
}
.modal-img-conc {
    margin-left: 20%;
    background-image: url("/src/images/encomendas/Ilustrações/conceitual.jpg");
}

.modal-img-perfil:hover, .modal-img-paisagem:hover, .modal-img-half:hover, 
.modal-img-pet:hover, .modal-img-outros:hover, .modal-img-conc:hover{
    cursor: pointer;
    filter: grayscale(100%)
}
.modal-mobile-enc {
    margin-left: 5vw;
    width: 100vw;
    height: 90vh;
}
.modal-mobile-enc .modal-content {
    width: 90vw;
    height: 92vh;
}
@media screen and (max-height: 700px) {
    
    .modal-mobile-enc-form {
        margin: inherit;
        width: 100%;
        height: max-content;
    }
    .modal-mobile-enc-form .modal-content {
        width: 100vw;
        height: 100%;
    }
}
@media screen and (max-width: 768px) {
    .modal-mobile-enc {
        margin: inherit;
        width: 100%;
        height: max-content;
    }
    .modal-mobile-enc .modal-content {
        width: 100vw;
        height: 100%;
    }
    .modal-img-size{
    margin: 0px;
    margin-bottom: 10% !important;
}
}
