.valor-artes{
    text-decoration: none;
    color: #68747b;
    font-size: 14px;
 
}

.descricao{
    font-size: 14px;
    color: #68747b;
}

.part1-body{
    padding:0;
    margin-bottom: 13px;
    margin-top: 10px;

}
.part2-body{
padding:0;
   
}

.produtos{
    margin: 40px;
    border: white;
}

.part1{
    margin-top: 80px;
}

.card-part{
    height: max-content;
    margin-bottom: 10%;
}

.artes-img{
    border: 1px solid #c8cdf4;
}
.artes-img:hover{
    cursor: pointer;
    border-color: #5f69b9;
}

.nav-itens{
    margin: 0 auto;
    color: #68747b;
    padding: 5px 20px;
}

.nav-categorias{
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
    margin-top:50px;
}


#photo-input,  #files-input{
    display: flex;
    flex-direction: column;
}

#button-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .card-part {
        margin-top: -10%;
        
    }
}