.valor-artes{
    margin-top: 3%;
    text-decoration: none;
    color: #68747b;
    font-size: 14px;
}
.produt-desc {
    padding-right: 0px !important;
    margin-top: -1.5%;
}
.produt-title{
    margin-top: 5%;
    font-size: 14px;
    color: #68747b;
}
.part1-body{
    padding:0;
    margin-bottom: 13px;
    margin-top: 10px;
}

.part2-body{
    padding:0;
}
#shopping-icon {
    font-size: 24px;
}
#shopping-icon:hover {
    cursor: pointer;
}
.produtos{
    width: 67% !important;
    margin-top: 80px;
}

.card-part{
    height: max-content;
    margin-bottom: 10%;
}

.artes-img{
    pointer-events: none;
    height:256px;
    border: 1px solid #c8cdf4;
}
.artes-img:hover{
    cursor: pointer;
    border-color: #c8cdf4;
}

.part1{
    margin-top: 80px;
}

.card-part{
    height: max-content;
    margin-bottom: 10%;
}

.nav-itens{
    margin: 0 auto;
    color: #68747b;
    padding: 5px 20px;
}

.nav-categorias{
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
    margin-top:50px;
}


#photo-input,  #files-input{
    display: flex;
    flex-direction: column;
}

#button-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    #shopping-icon {
        font-size: 1.7em;
    }
    .produt-desc {
        margin-top: 5%;
    }
    .valor-artes {
        margin-top: 3.5%;
        font-size: 1.2em;
    }
    .card-part {
        margin-top: -10%; 
    }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .artes-img{
        height: 220px;
    }
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
    .artes-img{
        height: 190px;
    }
}
@media screen and (min-width: 767px) and (max-width: 990px) {
    .artes-img{
        height: 120px;
    }
}
@media screen and (min-width: 460px) and (max-width: 766px) {
    .artes-img{
        height: 356px;
    }
}
@media screen and (min-width: 300px) and (max-width: 360px) {
    .artes-img{
        height: 240px;
    }
}
@media screen and (max-width: 360px) {
    .artes-img{
        height: 220px;
    }
}