#payment-form {
    margin-top: 10%;
}

._2Jtxm._35Ago ._2kL0S {
    background-color: #90CBEB !important;
}

.nxt-btn  {
    border: none !important;
    text-decoration: none;
    background-color: #90CBEB !important;
}
.nxt-btn:hover {
    color: white;
    background-color: #707070 !important;
}
.prev-btn{
    color: #707070 !important;
    text-decoration: none;
}
.border-styles {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.label-choose-modal:last-child {
    margin-bottom: 35px;
}
.label-choose-modal input {
    opacity: 0;
}
.label-choose-modal input + .card-box {
    border: 1px solid #ced4da;
  }
  .label-choose-modal input:checked+.card-box {
    border: 2px solid #90CBEB;
  }
.body-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 90%;
}
.boleto-icon {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 22px;
}