.first-section-detail-main {
    background-image: url("/src/images/background-portifolio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
}
.first-col-detail-main {
    color: white;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}
.first-col-detail-desc {
    color: white;
    font-weight: bold;
    font-size: 1.7em;
    padding-left: 15vw;
    padding-right: 15vw;
    font-family: Arial, Helvetica, sans-serif;
}
.first-section {
    padding-bottom: 12%;
}
h3 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    color: white;
    font-size: 2em;
}
#button:hover {
    cursor: pointer;
}
#linha-fotos-mobile {
    display: none;
}
#linha-fotos {
    background-color: white;
}
.fotos{
    width: 100%;  
}
.fotos:hover{
    transition: opacity .2s linear;
}
.coluna {
    padding: 0px;
}
.col1 {
    padding-bottom: 5px;
    padding-right:2.5px;
}
.col2 {
    padding-bottom: 5px;
    padding-left:2.5px;
}
.arrow{
    margin-top: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@media screen and (max-width: 768px) {
    #linha-fotos-mobile {
        display: block;
    }
    #linha-fotos {
        display: none;
    }
    .first-section-detail-main {
        height: 35vh;
    }
    .first-col-detail-main {
        font-size: 2em;
    }
    .first-col-detail-desc {
        font-weight:normal;
        padding: 2%;
        font-size: 1em;
         color: #707070;
    }
    .first-col-detail {
        background-color: white;
    }
    .first-col-detail h1 {
        color: #707070;
    }
    .coluna-dois {
        display: none;
    }
}


